/* Shushu: how about adding a background image here? */

.card-body {
  margin-left: 25%;
  margin-right: 25%;
  color: white;
}

.card {
  background-color: black;
}

.seal-img {
  height: 100px;
}

#head-1 {
  margin-bottom: 15%;
}

.ed-header {
  color: white;
}

h3 {
  font-size: 2vw;
}

h4 {
  font-size: 1.75vw;
}
